@import "tailwindcss";

@font-face {
  font-family: Montesrrat;
  src: url("../src/assets/fonts/montserrat/Montserrat-Bold.ttf");
}
html {
  scroll-behavior: smooth;
}
* {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: rgb(33, 1, 46);
}

body::-webkit-scrollbar-thumb {
  background: rgb(92, 0, 128);

  border-radius: 20px;
}
#spotlight {
  transition: background 0.1s ease;
  mix-blend-mode: screen; /* Optional: creates glowing effect */
}
